:root {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: calc(0.5em + 0.55vw);
}
#container {
    max-width: 78em;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
#calculator {
    width: 20em;
    height: 32.5em;
    display: flex;
    flex-direction: column;
    
    

}
#screen {
    width: 100%;
    min-height: 7.5rem;
    display: flex;
    align-items: flex-end;
    background-color: black;
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    border-radius: 1rem 1rem 0 0 ;
}
#button-calc {
    width: 99.7%;
    height: 100%;
    /* background-color: lightgrey; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(51fr);
    

}
#button-calc > div {
    width: 100%;
    height: 100%;
    font-size: 2.7em;
    font-weight: 100;
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 1px solid #565656;
    
}
.number {
    background-color: #d1d2d6;
    color: gray

    
}
.cl {
    background-color: #c6c5ca;
    color: gray;
    
}
#button-calc .operation {
    background-color: #fa8911;
    color:white;
    font-weight: 100;
    border-left: none;
}
 #button-calc :nth-child(17) {
    border-right: none;
    border-radius: 0 0 0 1rem;
    
}
#button-calc :nth-child(18) {
    border-left: none;
    color: transparent;
}
#button-calc :last-child {
    border-radius: 0 0 1rem 0;
}
