:root {
    box-sizing: border-box;
    font-size: calc(0.7em + 0.33vw);
}
* {
    box-sizing: inherit;
}
.container {
    max-width: 78em;
    min-height: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    

}
.container-screens {
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-screen {
    width: 9.37rem;
    height: 6.25rem;
    background-color: #515157;
    border-radius: 0.18rem;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    padding-top: 1.38rem;
}
.button {
    display: block;
    padding: 0.4em;
    margin-top: 0.3em;
    cursor: pointer;
}
.unigue-numbers {
    margin-left: 3.13rem;
}
.arraynumber-screen {
    width:25em;
    height: 12.5em;
    background-color: #eee;
    border-radius: 0.18em;
    
    
}
.lenght {
    margin-left: 3.16rem;
}
.array-lenght {
    min-width: 5rem;
    min-height: 3rem;
    background-color: #eee;
    text-align: center;
    font-size: 2rem;
    color: tomato;
    
}
span {
    display: block;
    
}
.rand-array {
   min-height: 5rem;
    /* margin-top: 2rem; */
    background-color: #eee;;
    font-size: 1rem;
}
.stop {
    font-size: 2rem;
    color:transparent;
}
.arlenght {
    display: block;
    font-size: 1.5rem;
    color:transparent;
}
